body {
    font-family: sans-serif;
    height: 90vh;
    /* width: 100vw; */
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.header-hex {
    color: inherit;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
    -webkit-text-stroke: 0.1rem #FFFFFF;
    width: 450px;
}

.btn-center {
    width: 156px;
    height: 70px;
    border: 4px solid #FFFFFF;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: rgba(200,200,200);
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.btn-center:focus {
    outline: none;
}

.btn-center:hover {
    background-color: rgba(210,210,210);
}
