<html ng-app>
    <head>
        <title>Todo</title>
        <script src="https://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
        <script src="script.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div ng-controller="TodoListController">
          <span>Completed chores: {{ completedChores() }}/{{ todos.length }}.</span>
          <span>Time ellapsed: {{ ellapsedTime() }}/{{ totalTime() }}</span>
            <table>
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Chore</th>
                  <th>Time</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="todo in todos">
                  <td><input type="checkbox" ng-model="todo.done"></td>
                  <td class="done-{{todo.done}}">{{ todo.chore }}</td>
                  <td class="done-{{todo.done}}">{{ todo.time }}</td>
                  <td><button ng-click="delChore()">x</button></td>
                </tr>
                <!-- <tr>
                  <td>Total</td>
                  <td>Chores: {{ todos.length }}</td>
                  <td>Time: {{ totalTime() }}</td>
                </tr> -->
              </tbody>
            </table>
            <form class="form-inline" name="formItem">
                <input type="text" ng-model="todo.chore">
                <input type="number" ng-model="todo.time">
                <button ng-click="addChore()">Add chore</button>
              </form>
        </div>
    </body>
</html>